.radiobox {
	display: block;
	position: relative;
	label {
		background: none;
		position: relative;
		//color: $text-green-dark;
		color: inherit;
		padding-left: 32px;
		//padding-top: 3px;
		display: inline-block;
		cursor: pointer;
		font: $fs-16;
		&:before {
			content: "";
			display: block;
			width: 20px;
			height: 20px;
			position: absolute;
			top: 0;
			left: 0;
			background: $white;
			border-radius: 50%;
			border: 1px $green solid;
		}
		a {
			text-decoration: underline;
		}
	}
	input[type="checkbox"],
	input[type="radio"] {
		position: absolute;
		top: 0;
		left: -100000px;
		-webkit-appearance: auto;
	}
	input[type="radio"]:checked + label {
		//&:before{background: $yellow; }
		&:after {
			content: "";
			display: block;
			width: 12px;
			height: 12px;
			background: $green;
			position: absolute;
			top: 4px;
			left: 4px;
			border-radius: 50%;
		}
	}

	&--white {
		label {
			color: $white;
		}
	}

	&--block-shadow {
		height: 100%;
		width: 100%;
		label {
			width: 100%;
			background-color: $white;
			box-shadow: $cards-bg;
			border: 1px $white solid;
			border-radius: 10px;
			padding: 24px 16px 24px 19px;
			height: 100%;
			@include time();
			&:after,
			&:before {
				display: none;
			}
		}
		input[type="radio"]:checked + label {
			background: $white;
			border-color: $form-blue;
			&:after,
			&:before {
				display: none;
			}
			.icon-inline__title {
				color: $form-blue;
			}
		}
	}

	&--block {
		label {
			padding: 12px 20px;
			border: 1px $gray-dark solid;
			border-radius: 10px;
			background: $white;
			font: 16px/20px $baseFF;
			color: rgba($text-green-dark, 0.4);
			display: block;
			&:after,
			&:before {
				display: none;
			}
		}
		input[type="radio"]:checked + label {
			background: $blue;
			border-color: $gray-dark;
			&:after,
			&:before {
				display: none;
			}
		}
	}
	&--block & {
		&__title {
			color: $text-green-dark;
			margin-bottom: 5px;
		}
	}

	&--date {
		label {
			color: $text-green-dark;
			text-align: center;
			span {
				color: rgba($text-form, 0.4);
			}
		}
	}

	input.is-error {
		& + label {
			border-color: red;
		}
	}

	@include media($xs) {
		label {
			font: $fs-14;
		}
	}
}

.checkbox {
	position: relative;
	label {
		background: none;
		position: relative;
		color: #4a4a4a;
		padding-left: 32px;
		padding-top: 0;
		display: inline-block;
		cursor: pointer;
		font: 15px/18px $baseFF;

		&:before {
			content: "";
			display: block;
			width: 19px;
			height: 19px;
			position: absolute;
			top: 0;
			left: 0;
			border: 1px #767676 solid;
			@include time();
		}
		&:after {
			content: "";
			display: block;
			width: 15px;
			height: 15px;
			background: #767676;
			position: absolute;
			top: 2px;
			left: 2px;
			opacity: 0;
			@include time();
		}

		/* a {
			font-weight: bold;
		} */
	}
	input[type="checkbox"],
	input[type="radio"] {
		/* display: none; */
		position: absolute;
		top: 0;
		left: -1000%;
	}
	input[type="checkbox"]:checked + label,
	input[type="radio"]:checked + label {
		&:before {
			/* background: $form-blue;
			border-color: $form-blue; */
		}
		&:after {
			opacity: 1;
		}
	}

	/* input[type=checkbox]:invalid + label, input[type=radio]:invalid + label{
		&:before{ border-color: red!important; }
	} */

	&--white {
		label {
			color: $white;
		}
	}

	input.is-error + label {
		&:before {
			border-color: $red;
		}
	}
	/* &--btn{
		label{ padding: 5px 15px; border: 1px #dfdfdf solid; border-radius: 4px; background: $white; font: 500 13px/25px $baseFF; 
			&:after, &:before{ display: none;  }
		}
		input[type=radio]:checked + label{ background: $yellow; border-color: $yellow;  
			&:after, &:before{ display: none;  } 	
		}
	}  */

	@include media($lg) {
	}

	@include media($xs) {
		label {
			font: $fs-14;
		}
	}
}

.checkbox-list,
.radiobox-list {
	.checkbox,
	.radiobox {
		margin-bottom: 16px;
		&:last-child {
			margin-bottom: 0;
		}
	}

	@include media($xs) {
	}
}

.checkbox-inline,
.radiobox-inline {
	margin-bottom: -16px;
	@include flex();
	.checkbox,
	.radiobox {
		margin-right: 5rem;
		margin-bottom: 16px;
		&:last-child {
			margin-right: 0;
		}
	}

	@include media($lg) {
		.checkbox,
		.radiobox {
			margin-right: 3rem;
			&:last-child {
				margin-right: 0;
			}
		}
	}
}
