include ../product-block/template

mixin productsSection(data) 
	.products-section&attributes(attributes)
		._container.container
			+productBlock({
				title: "Сноуборд NEVER SUMMER SWIFT",
				subtitle: "доступные ростовки: 157, 162",
				img: "images/snowboard-1.png",
				text:`<span><strong>НАЗНАЧЕНИЕ: </strong>All mountain, Freeride</span> <br> <span><strong>ПРОГИБ: </strong>Гибрид</span> <br> <span><strong>ГЕОМЕТРИЯ: </strong>Directional</span> <br> <span><strong>ОПИСАНИЕ: </strong><br><span class="product-block__info">Мужской сноуборд<br> Коллекция Tim Canaday's Shaper Series<br> Жесткость: 7 из 10<br> Невероятный драйв и успех везде – как в целине так и повсюду за ее пределами.<br> Вы смело можете взять the Swift в любое приключение. Это тот случай когда Ваш «паудер-борд» годится для катания в любых условиях по всей горе!</span></span>`
			}).__item

			+productBlock({
				title: "Сноуборд LIB TECH",
				subtitle: "доступные ростовки: 157, 162",
				img: "images/snowboard-2.png",
				text:`<span><strong>НАЗНАЧЕНИЕ: </strong>All mountain, Freeride</span> <br> <span><strong>ПРОГИБ: </strong>Гибрид</span> <br> <span><strong>ГЕОМЕТРИЯ: </strong>Directional</span> <br> <span><strong>ОПИСАНИЕ: </strong><br><span class="product-block__info">Мужской сноуборд<br> Коллекция Tim Canaday's Shaper Series<br> Жесткость: 7 из 10<br> Невероятный драйв и успех везде – как в целине так и повсюду за ее пределами.<br> Вы смело можете взять the Swift в любое приключение. Это тот случай когда Ваш «паудер-борд» годится для катания в любых условиях по всей горе!</span></span>`
			}).__item

			+productBlock({
				title: "Сноуборд JONES STORM WOLF",
				subtitle: "доступные ростовки: 157, 162",
				img: "images/snowboard-3.png",
				text:`<span><strong>НАЗНАЧЕНИЕ: </strong>All mountain, Freeride</span> <br> <span><strong>ПРОГИБ: </strong>Гибрид</span> <br> <span><strong>ГЕОМЕТРИЯ: </strong>Directional</span> <br> <span><strong>ОПИСАНИЕ: </strong><br><span class="product-block__info">Мужской сноуборд<br> Коллекция Tim Canaday's Shaper Series<br> Жесткость: 7 из 10<br> Невероятный драйв и успех везде – как в целине так и повсюду за ее пределами.<br> Вы смело можете взять the Swift в любое приключение. Это тот случай когда Ваш «паудер-борд» годится для катания в любых условиях по всей горе!</span></span>`
			}).__item