mixin costSection(data) 
	.cost-section&attributes(attributes)
		._bg
			+webp("images/cost-section-bg.png")
		._container.container
			._items 
				._info
					._title.title-h2 СТОИМОСТЬ ТУРА<br> от 9 000 руб.
					._button
						a(href="#popup-booking").btn.--neon.--h-white.js-popup-show забронировать
				._text День катания от 6 до 10 спусков Сопровождение опытных гидов Лавинное снаряжение<br> Обед