
mixin firstSection(data)
	.first-section&attributes(attributes)
		+webp('images/first-section-bg-1.jpg')._bg
		._container.container
			._wrapper
				h1._title ПЛАСТИКОВЫЕ ОКНА<br> ОТ САМЫХ ПРОСТЫХ<br> ДО СУПЕР КРУТЫХ<br> <span>СО СКИДКОЙ 30% <br>ДО КОНЦА ИЮЛЯ!</span>
				form._form(action="#")
					._form-row.row
						._form-col.col-6.col-sm-12
							input._input.form-control(type="text" placeholder="Имя")
							input._input.form-control(type="text" placeholder="Номер телефона")
							button._btn.btn.btn--lg ВЫЗВАТЬ ЗАМЕРЩИКА
						._form-col.col-6.col-sm-12
							button._btn.btn.btn--lg ЗАКАЗАТЬ ОБРАТНЫЙ<br> ЗВОНОК
					._police.checkbox 
						input(type="checkbox" name="police1" id="police1")
						label(for="police1") Отправляя заявку, вы соглашаетесь на обработку<br> персональных данных

mixin firstSectionBalcon(data)
	.first-section.-balcon&attributes(attributes)
		+webp('images/first-section-bg-balcon.jpg')._bg
		._container.container
			._wrapper
				h1._title БАЛКОНЫ И ЛОДЖИИ<br> ОТ ОСТЕКЛЕНИЯ ДО ОБШИВКИ <br><span>СО СКИДКОЙ 30% <br>ДО КОНЦА ИЮЛЯ!</span>
				form._form(action="#")
					._form-row.row
						._form-col.col-6.col-sm-12
							input._input.form-control(type="text" placeholder="Имя")
							input._input.form-control(type="text" placeholder="Номер телефона")
							button._btn.btn.btn--lg ВЫЗВАТЬ ЗАМЕРЩИКА
						._form-col.col-6.col-sm-12
							button._btn.btn.btn--lg ЗАКАЗАТЬ ОБРАТНЫЙ<br> ЗВОНОК
					._police.checkbox 
						input(type="checkbox" name="police1" id="police1")
						label(for="police1") Отправляя заявку, вы соглашаетесь на обработку<br> персональных данных

mixin firstSectionCottages(data)
	.first-section.-cottages&attributes(attributes)
		+webp('images/first-section-bg-cottages.jpg')._bg
		._container.container
			._wrapper
				h1._title Остекление домов<br> ОТ ДАЧИ ДО КОТТЕДЖА <br><span>СО СКИДКОЙ 30% <br>ДО КОНЦА ИЮЛЯ! </span>
				form._form(action="#")
					._form-row.row
						._form-col.col-6.col-sm-12
							input._input.form-control(type="text" placeholder="Имя")
							input._input.form-control(type="text" placeholder="Номер телефона")
							button._btn.btn.btn--lg ВЫЗВАТЬ ЗАМЕРЩИКА
						._form-col.col-6.col-sm-12
							button._btn.btn.btn--lg ЗАКАЗАТЬ ОБРАТНЫЙ<br> ЗВОНОК
					._police.checkbox 
						input(type="checkbox" name="police1" id="police1")
						label(for="police1") Отправляя заявку, вы соглашаетесь на обработку<br> персональных данных

mixin firstSectionDoor(data)
	.first-section.-door&attributes(attributes)
		+webp('images/first-section-bg-door.jpg')._bg
		._container.container
			._wrapper
				h1._title ПЛАСТИКОВЫЕ И<br> АЛЮМИНИЕВЫЕ ДВЕРИ <br><span>СО СКИДКОЙ 30% <br>ДО КОНЦА ИЮЛЯ! </span>
				form._form(action="#")
					._form-row.row
						._form-col.col-6.col-sm-12
							input._input.form-control(type="text" placeholder="Имя")
							input._input.form-control(type="text" placeholder="Номер телефона")
							button._btn.btn.btn--lg ВЫЗВАТЬ ЗАМЕРЩИКА
						._form-col.col-6.col-sm-12
							button._btn.btn.btn--lg ЗАКАЗАТЬ ОБРАТНЫЙ<br> ЗВОНОК
					._police.checkbox 
						input(type="checkbox" name="police1" id="police1")
						label(for="police1") Отправляя заявку, вы соглашаетесь на обработку<br> персональных данных

mixin firstSection2(data)
	.first-section&attributes(attributes)
		+webp('images/first-section-bg-2.jpg')._bg
		._container.container
			._wrapper
				h1._subtitle.title-h4 Хотите узнать точный расчёт<br> стоимости и заключить договор?
				form._form(action="#")
					._form-title Будем рады видеть вас в числе<br> наших клиентов
					._form-row.row
						._form-col.col-6.col-sm-12
							input._input.form-control(type="text" placeholder="Имя")
							input._input.form-control(type="text" placeholder="Номер телефона")
							button._btn.btn.btn--lg ВЫЗВАТЬ ЗАМЕРЩИКА
						._form-col.col-6.col-sm-12
							button._btn.btn.btn--lg ЗАКАЗАТЬ ОБРАТНЫЙ<br> ЗВОНОК
					._police.checkbox 
						input(type="checkbox" name="police2" id="police2")
						label(for="police2") Отправляя заявку, вы соглашаетесь на обработку<br> персональных данных

mixin firstSection3(data)
	.first-section&attributes(attributes)
		+webp('images/first-section-bg-3.jpg')._bg
		._container.container
			._wrapper
				h1._subtitle.title-h4 Мы гарантируем вам профессиональный и современный подход от консультации до установки
				form._form(action="#")
					._form-title С нами надёжно и легко!
					._form-row.row
						._form-col.col-6.col-sm-12
							input._input.form-control(type="text" placeholder="Имя")
							input._input.form-control(type="text" placeholder="Номер телефона")
							button._btn.btn.btn--lg ОСТАВЬТЕ ЗАЯВКУ
					
					._police.checkbox 
						input(type="checkbox" name="police3" id="police3")
						label(for="police3") Отправляя заявку, вы соглашаетесь на обработку<br> персональных данных