
include ../tour-block/template

mixin toursSection(data) 
	.tours-section&attributes(attributes)
		._bg
			+webp("images/tours-bg.png")
		._container.container
			._title Раскатываем самые отдаленные места Горной Шории: склоны северного и южного Мустага, долины Кедровая, Райская и Солнечная, цирк реки Викторьевки, Северный лес и FWT!
			+tourBlock({
				img: "images/tour-1.jpg",
				title: "ФРИРАЙД - ТУР<br> НА 3 ДНЯ",
				text: "<strong>В стоимость программы включено:</strong><br> <p>Трансфер из аэропорта или от ж/д вокзала и обратно.</p><p> Проживание 3 дня (хостел, гостиничный номер, апартаменты).</p> <p>Завтраки и обеды в дни фрирайда (2 дня).</P> <p>Фрирайд на ратраках (2 дня).</p> <p>Банный вечер.</p>",
				cost: "от 27 500 РУБ"
			})._tour
			+tourBlock({
				img: "images/tour-2.jpg",
				title: "ФРИРАЙД - ТУР<br> НА 5 ДНей",
				text: "<strong>В стоимость программы включено:</strong><br> <иваниp>Трансфер из аэропорта или от ж/д вокзала и обратно.</p><p> Проже 5 дня (хостел, гостиничный номер, апартаменты).</p> <p>Завтраки и обеды в дни фрирайда (4 дня).</P> <p>Фрирайд на ратраках (4 дня).</p> <p>Банный вечер.</p>",
				cost: "от 49 500 РУБ"
			})._tour
			+tourBlock({
				img: "images/tour-3.jpg",
				title: "ФРИРАЙД - ТУР<br> НА 7 ДНЯ",
				text: "<strong>В стоимость программы включено:</strong><br> <p>Трансфер из аэропорта или от ж/д вокзала и обратно.</p><p> Проживание 7 дня (хостел, гостиничный номер, апартаменты).</p> <p>Завтраки и обеды в дни фрирайда (5 дня).</P> <p>Фрирайд на ратраках (5 дня).</p> <p>Банный вечер.</p>",
				cost: "от 57 000 РУБ"
			})._tour
			+tourBlock({
				img: "images/tour-4.jpg",
				title: "ФРИРАЙД - ТУР<br> НА 9 ДНЯ",
				text: "<strong>В стоимость программы включено:</strong><br> <p>Трансфер из аэропорта или от ж/д вокзала и обратно.</p><p> Проживание 9 дня (хостел, гостиничный номер, апартаменты).</p> <p>Завтраки и обеды в дни фрирайда (6 дня).</P> <p>Фрирайд на ратраках (6 дня).</p> <p>Банный вечер.</p>",
				cost: "от 72 000 РУБ"
			})._tour
			._bottom
				._schedule
					span ТАЙМИНГ ТУРОВ<br> ПО ДНЯМ
					._button
						a(href="#").btn.--dark скачать расписание туров