mixin transferSection(data) 
	.transfer-section&attributes(attributes)
		._bg
			+webp("images/about-section-bg-1.jpg")
		._container.container
			._info
				._title.title-h2 ГРУППОВОЙ ТРАНСФЕР
				._paragraph
					span Комфортабельный автобус премиум-класса с увеличенным расстоянием между сидениями позволить провести время в дороге максимально комфортно.
					strong Стоимость трансфера от 1000 руб. в одну сторону.
				._paragraph
					strong Выезд из Новосибирска:
					span Воскресенье — 09:00
					span Вт, чт, пт — 21:00
					strong Выезд в Новосибирск:
					span Вск, ср, пт — 19:00
				._paragraph
					strong Из Новокузнецка:
					span туристические версии микроавтобусов Mersedes и Ford до 19 мест, а также микроавтобусы и минивены на 3-8 мест
					strong Выезд из Новокузнецка:
					span Воскресенье — 09:00
					span Вт, чт, пт — 21:00
					strong Выезд в Новокузнецк:
					span Ежедневно, кроме среды — 23:00 (есть возможность выезжать позже)
			._transfer
				._transfer-title.title-h2 ИНДИВИДУАЛЬНЫЙ ТРАНСФЕР
				._paragraph
					span Заявки на индивидуальный трансфер в Новокузнецк, Кемерово, Новосибирск, Барнаул, Томск принимаются координатором по телефону +7 923 133 0011
					strong Стоимость трансфера рассчитывается индивидуально.