include ../appart-block/template

mixin appartsSection(data)
	.apparts-section&attributes(attributes)
		._bg
			+webp("images/tours-bg.png")
		._container.container
			+appartBlock({
				title: "WOW APARTS",
				text: "Единственное в Шерегеше высотное здание. 11 этажей и потрясающие панорамные виды на горы. Уютные апартаменты, лифты, сервис европейского уровня, современная инфраструктура - все это придется по вкусу даже самым заядлым путешественникам.Мы предусмотрели все, что нужно для отличного отдыха: отличное расположение, современный стильный дизайн, комфортная мебель, кухня и кабельное телевидени...",
				img1: "images/appart-1.jpg",
				img2: "images/appart-2.jpg",
				img3: "images/appart-3.jpg",
				img4: "images/appart-4.jpg",
				img5: "images/appart-5.jpg",
				img6: "images/appart-6.jpg",
				img7: "images/appart-7.jpg"
			})._item
			+appartBlock({
				title: "ГОСТИНИЦА AYS HOTEL",
				text: "Единственное в Шерегеше высотное здание. 11 этажей и потрясающие панорамные виды на горы. Уютные апартаменты, лифты, сервис европейского уровня, современная инфраструктура - все это придется по вкусу даже самым заядлым путешественникам.Мы предусмотрели все, что нужно для отличного отдыха: отличное расположение, современный стильный дизайн, комфортная мебель, кухня и кабельное телевидени...",
				img1: "images/appart-2.jpg",
				img2: "images/appart-1.jpg",
				img3: "images/appart-3.jpg"
			})._item
			+appartBlock({
				title: "ХОСТЕЛ В КОРОБКЕ",
				text: 'Хостел "В Коробке" в поселке Шерегеш. До канатной дороги 2 к. Из услуг есть частная парковка, бесплатный Wi-Fi. Номерной фонд  мини-отеля состоит из трех многоместных номеров, где можно  поселиться на койко-месте с подселением. Установлены телевизоры с кабельными каналам, а также электрический чайник. Уборка  проводится каждый день. Удобства общие, находятся на этаже. Есть современная кухня, которой можно воспользоваться в любое время.',
				img1: "images/appart-2.jpg",
				img2: "images/appart-1.jpg",
				img3: "images/appart-3.jpg",
				img4: "images/appart-8.jpg",
				img5: "images/appart-9.jpg",
				img6: "images/appart-10.jpg",
				img7: "images/appart-11.jpg"
			})._item
