include ../comment-block/template

mixin commentsSection(data)
	.comments-section&attributes(attributes)
		._container.container 
			._title.title-h2 НАМ ГОВОРЯТ СПАСИБО
			._slider.js-comments-slider 
				._slider-item
					+commentBlock({
						img: 'images/comment-block-img-1.jpg',
						name: 'Виталий Владимирович',
						text: 'Я заказывал остекление балкона для своей мамы, важно было сделать все быстро и не растягивать, так как она человек пожилой и ей нужен покой. Балкон привезли примерно через неделю-полторы, а на следующий день установили. Очень доволен, что есть люди, которые могут быстро и качественно работать! 5+'
					})
				._slider-item
					+commentBlock({
						img: 'images/comment-block-img-2.jpg',
						name: 'Максим Александрович',
						text: 'Заказывал выход на балкон, молодцы ребята! Слова совпадают с делом! Буду рекомендовать вашу компанию!'
					})
				._slider-item
					+commentBlock({
						img: 'images/comment-block-img-3.jpg',
						name: 'Анастасия Юрьевна ',
						text: 'Давно хотели поменять нашей бабушке окна на даче, я увидела как ваши ребята устанавливали  окна нашим соседям, нам очень понравилось и мы решили обратиться к вам, и не пожалели! Теперь домик выглядет как новенький! Выражаем благодарность от нашей семьи! Отдельное спасибо за ваш труд, мастерам Сергею и Евгению!'
					})
				._slider-item
					+commentBlock({
						img: 'images/comment-block-img-4.jpg',
						name: 'Анастасия Александровна ',
						text: 'Надежный дом мне посоветовала сестра, задача была обшить лоджию вагонкой и сделать небольшой шкафчик, приехал замерщик Андрей, все подробно рассказал, заключили договор, через неделю приехал мастер Евгений, работал 2 дня, сразу было видно что человек любит свою работу, каждой мелочи уделял особое внимание, да и шкафчик просто шикарный получился, мы с мужем очень довольны, а нам есть с чем сравнивать! спасибо огромное вашей компании!'
					})
				._slider-item
					+commentBlock({
						img: 'images/comment-block-img-5.jpg',
						name: 'Вячеслав и Анна',
						text: 'Два года назад заказывали 2 окна в квартиру и балкон, результатом остались очень довольны, ребята молодцы, сделали все очень добросовестно, в середине апреля этого года, заказали 4 окна на дачу, все отлично как и прошлый раз!'
					})