mixin skillsSection(data) 
	.skills-section&attributes(attributes)
		._bg
			+webp("images/skills-bg.png")
		._container.container
			._items
				._item
					._item-icon
						+webp('images/skill-1.png')
					._item-title профессионалы<br> гиды
				._item
					._item-icon
						+webp('images/skill-2.png')
					._item-title весь день катаем<br> первым следом
				._item
					._item-icon
						+webp('images/skill-3.png')
					._item-title разнообразие<br> маршрутов
				._item
					._item-icon
						+webp('images/skill-4.png')
					._item-title различные<br> уровни групп
				._item
					._item-icon
						+webp('images/skill-5.png')
					._item-title выгодные<br> цены
				._item
					._item-icon
						+webp('images/skill-6.png')
					._item-title собственный<br> парк техники
				._item
					._item-icon
						+webp('images/skill-7.png')
					._item-title экономия 20 %<br> при покупке пакетного тура

mixin skillsSection2(data) 
	.skills-section.--mode&attributes(attributes)
		._bg
			+webp("images/skills-bg-2.png")
		._container.container
			._items
				._item
					._item-icon
						+webp('images/skill-11.png')
					._item-title индивидуальные<br> и групповые<br> занятия
				._item
					._item-icon
						+webp('images/skill-8.png')
					._item-title начальный и продвинутый уровень
				._item
					._item-icon
						+webp('images/skill-10.png')
					._item-title карвинг
				._item
					._item-icon
						+webp('images/skill-9.png')
					._item-title фристайл
				._item
					._item-icon
						+webp('images/skill-2.png')
					._item-title фрирайд