include ../team-block/template

mixin teamSection(data) 
	.team-section&attributes(attributes)
		._bg
			+webp("images/dark-bg-slider.jpg")
		._container.container
			._title.title-h2 наша команда
			._slider.js-team-slider 
				._slider-item
					+teamBlock({
						img: 'images/slide-img-1.png',
						name: 'Влад Кутенко',
						subtitle: "<p>ГИД<br> ИНСТРУКТОР <br> ПО СНОУБОРДУ</p>",
						text: '<p>Опыт катания  с 2005 года<br> Опыт работы  с 2016 года<br> Аттестован  Нацианальной<br> лигой инструкторов<br> Аттестован для оказания <br> первой помощи.<br> География катания: Сочи,<br> Шерегеш, Поднебесные зубья,<br> Казыр.<br> Домашний курорт — Шерегеш.</p>'
					})
				._slider-item
					+teamBlock({
						img: 'images/slide-img-2.png',
						name: 'ЕВГЕНИЙ ПЕЛЕВИН',
						subtitle: "<p>ГИД<br> ИНСТРУКТОР <br> ПО СНОУБОРДУ</p>",
						text: '<p>Опыт катания  с 2006 года<br> Опыт работы  с 2016 года<br> Аттестован Северо-Кавказским<br> институтом повышения <br> квалификации.<br> Аттестован для оказания <br> первой помощи.<br> География катания: Камчатка, <br> Сочи, Абхазия, Шерегеш, <br> Поднебесные зубья.</p>'
					})
				._slider-item
					+teamBlock({
						img: 'images/slide-img-3.png',
						name: 'АЛЕКСЕЙ ЛАВРИНЕНКО',
						subtitle: "<p>ГИД<br> ИНСТРУКТОР <br> ПО СНОУБОРДУ</p>",
						text: '<p>Опыт катания  с 2009 года<br> Опыт работы  с 2013 года<br> Аттестован  Нацианальной<br> лигой инструкторов<br> Аттестован для оказания <br> первой помощи.<br> География катания:  Сочи, <br> Шерегеш, Поднебесные зубья.<br> Домашний курорт — Шерегеш.</p>'
					})
				._slider-item
					+teamBlock({
						img: 'images/slide-img-2.png',
						name: 'ЕВГЕНИЙ ПЕЛЕВИН',
						subtitle: "<p>ГИД<br> ИНСТРУКТОР <br> ПО СНОУБОРДУ</p>",
						text: '<p>Опыт катания  с 2006 года<br> Опыт работы  с 2016 года<br> Аттестован Северо-Кавказским<br> институтом повышения <br> квалификации.<br> Аттестован для оказания <br> первой помощи.<br> География катания: Камчатка, <br> Сочи, Абхазия, Шерегеш, <br> Поднебесные зубья.</p>'
					})

mixin teamSection2(data) 
	.team-section.--mode2&attributes(attributes)
		._bg
			+webp("images/dark-bg-slider.jpg")
		._container.container
			._title.title-h2 инструкторы
			._slider.js-team-slider 
				._slider-item
					+teamBlock({
						img: 'images/instructor-1.jpg',
						name: 'Олег Клепалов',
						subtitle: 'ИНСТРУКТОР  ПО СНОУБОРДУ',
						text: '<p>категория С, В, FREESTYLE</p><p>Опыт катания - 16 лет</p> <p>Опыт работы - 14 лет</p> <p>Аттестован Национальной лигой инструкторов.</p> <p>ОБУЧАЕТ: индивидуальные и групповые занятия, фрирайд,карвинг, фристайл.</p>'
					}).team-block--mode
				._slider-item
					+teamBlock({
						img: 'images/instructor-2.jpg',
						name: 'МАРИЯ ЕВСЕЕВА',
						subtitle: 'ИНСТРУКТОР  ПО ГОРНЫМ ЛЫЖАМ',
						text: '<p>категория С, В</p><p>Опыт катания - 9 лет</p> <p>Опыт работы - 6 лет</p> <p>Аттестован Национальной лигой инструкторов.</p> <p>ОБУЧАЕТ: индивидуальные и групповые занятия, фрирайд,карвинг, фристайл.</p>'
					}).team-block--mode
				._slider-item
					+teamBlock({
						img: 'images/instructor-3.jpg',
						name: 'АНДРЕЙ ФЕДОРОВ',
						subtitle: 'ИНСТРУКТОР  ПО ГОРНЫМ ЛЫЖАМ',
						text: '<p>категория С, В</p><p>Опыт катания - 18 лет</p> <p>Опыт работы - 8 лет</p> <p>Аттестован Национальной лигой инструкторов.</p> <p>ОБУЧАЕТ: индивидуальные и групповые занятия, фрирайд,карвинг, фристайл.</p>'
					}).team-block--mode
				._slider-item
					+teamBlock({
						img: 'images/instructor-2.jpg',
						name: 'МАРИЯ ЕВСЕЕВА',
						subtitle: 'ИНСТРУКТОР  ПО ГОРНЫМ ЛЫЖАМ',
						text: '<p>категория С, В</p><p>Опыт катания - 9 лет</p> <p>Опыт работы - 6 лет</p> <p>Аттестован Национальной лигой инструкторов.</p> <p>ОБУЧАЕТ: индивидуальные и групповые занятия, фрирайд,карвинг, фристайл.</p>'
					}).team-block--mode