mixin videoSection(data)
	.video-section&attributes(attributes)
		._container.container
			video(src="/images/video.mp4" controls)._video
				//-iframe( src="https://www.youtube.com/embed/1TJ08caetkw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)