include ../price-block/template

mixin priceSection(data) 
	.price-section&attributes(attributes)
		._bg
			+webp("images/review-bg.jpg")
		._container.container
			._title.title-h2 ШКОЛА ФРИРАЙДА
			._subtitle Курс для тех, кто собрался во фрирайд-тур в Шерегеше или планирует катать в больших горах. Хочет стабильности, контроля скорости и безопастного катания, а также не хочетзависеть от снежных условий и рельефов.
			._item
				+priceBlock({
					img: 'images/price-1.jpg',
					title: '3 - Х ДНЕВНАЯ ШКОЛА ФРИРАЙДА',
					text: 'Занятия проводяться в группе от 3 до 6 человек.<br> Группы набираются по уровню катания:<br> от начального до продвинутого.<br> 12 часов практики на склоне<br> Лекция + видеоразбор',
					price: '16 000 РУБ.'
				})
			._item
				+priceBlock({
					img: 'images/price-2.jpg',
					title: '5 - ТИ ДНЕВНАЯ ШКОЛА ФРИРАЙДА',
					text: 'Занятия проводяться в группе от 3 до 6 человек.<br> Группы для уже уверенно катющихся по трассам.<br> 20 часов практики на склоне<br> 2 лекции + видеоразбор<br> Практика по лавинной безопастности',
					price: '23 000 РУБ.'
				})
			._item
				+priceBlockMode({
					img: 'images/price-3.jpg',
					title: 'ШКОЛА « С НУЛЯ»',
					subtitle: 'Курс для тех, кто боится, кто не уверен в своих силах или просто хочет научится кататься, но не знает как начать.',
					text: 'Занятия проводяться в группе от 3 до 6 человек.<br> Группы для уже уверенно катющихся по трассам.<br> 20 часов практики на склоне<br> 2 лекции + видеоразбор<br> Практика по лавинной безопастности',
					price: '23 000 РУБ.'
				})